@use 'uchu';

@use "../node_modules/@the_dissidents/svelte-ui/dist/main" as *;

@include configure(
  $fontFamily:  (Helvetica, Arial, sans-serif),
  $fontSize:    14px,

  $page-background-light:   #f6f6f6,
  // $page-background-medium:  uchu.$yin-2,
  // $page-background-dark:    uchu.$yin-9,

  $text-light:      #0f0f0f,
  // $text-dark:       uchu.$yang,
  // $h5-text-light:   uchu.$yin-6,
  // $h5-text-dark:    uchu.$yin-3,

  // $disabled-text-light:   uchu.$gray-9,
  // $disabled-text-dark:    uchu.$gray-9,
  // $disabled-back-light:   uchu.$gray-1,
  // $disabled-back-dark:    uchu.$yin-7,

  // $box-border-light:      uchu.$gray-4,
  // $box-border-dark:       uchu.$yin-8,
  // $box-back-light:        white,
  // $box-back-dark:         uchu.$yin-8,

  // $small-border-light:    uchu.$gray-4,
  // $small-border-dark:     uchu.$yin-7,

  // $button-back-light:     white,
  // $button-back-dark:      uchu.$yin-7,
  // $button-disabled-light: uchu.$gray-1,
  // $button-disabled-dark:  uchu.$yin-7,

  $accent1-back-light:    lightblue,
  // $accent1-back-dark:     Teal,
  $accent1-border-light:  skyblue,
  // $accent1-border-dark:   LightSeaGreen,

  $accent2-back-light:    uchu.$pink-7,
  // $accent2-back-dark:     uchu.$blue-4,
  $accent2-border-light:  uchu.$pink-8,
  // $accent2-border-dark:   uchu.$blue-8,

  // $slider-track-light:    uchu.$yin-1,
  // $slider-track-dark:     uchu.$yin-8,

  // $separator-light:       uchu.$yin-2,
  // $separator-dark:        uchu.$yin-7,
  // $separator-minor-light: uchu.$gray-2,
  // $separator-minor-dark:  uchu.$yin-7,

  // $shadow-light:  rgba(128, 128, 128, 0.5),
  // $shadow-dark:   rgba(128, 128, 128, 0.5),

  $tab-accent-light: rgb(235, 135, 188),
  $tab-accent-dark:  slategray,

  $list-header-light:    rgb(237, 202, 210),
  $list-header-dark:     rgb(64, 90, 90),
  $list-border-light:    thistle,
  $list-border-dark:     uchu.$yin-7,
  $list-selection-light: thistle,
  $list-selection-dark:  uchu.$yin-7,

  // $border-radius-large: 3px,
  // $border-radius-small: 2px,
);

.veryimportant {
  font-size: 0.8rem;
  &:not([disabled]) {
    @media (prefers-color-scheme: light) {
      background-color: uchu.$pink-1;
      color: uchu.$red-9;
    }
    @media (prefers-color-scheme: dark) {
      background-color: uchu.$pink-9;
      color: uchu.$pink-1;
    }
  }
  padding-block: 0.5em;
}

.important {
  font-size: 0.8rem;
  padding-block: 0.5em;
}
