:root {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none; -webkit-user-select: none;
  -moz-user-select: none; -ms-user-select: none;
}

table.config {
  width: 100%;
}
table.config tr > td:nth-child(1) {
  font-size: 80%;
  padding-right: 5px;
  /* font-weight: bold; */
  text-align: end;
  align-content: start;
}

.scrollable {
  overflow: auto;
}

.vlayout {
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;

  /* & > * {
    flex-shrink: 0;
  } */
}
.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hlayout {
  display: flex;
  flex-direction: row;
  min-height: 0;
  min-width: 0;
}
.hcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexgrow {
  flex: 1 0;
}

.flexshrink {
  flex: 0 1;
}

.vfill {
  height: 100%;
  max-height: 100%;
}
