:root {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none; -webkit-user-select: none;
  -moz-user-select: none; -ms-user-select: none;
}

/* input, button {
  font-size: 0.75rem;
}

label {
  font-size: 0.8rem;
}

input[type=number],
input[type=text] {
  border-radius: 3px;
  padding: 2px 3px;
}

input[type=number], input[type=text],
select, [data-select-trigger], div.combobox,
textarea, ol[role='listbox'] {
  border: 1px solid var(--uchu-gray-3);
  background-color: white;
  color: var(--uchu-yin);
  &:focus, &:has(:focus) {
      outline: 2px solid color-mix(in oklab, var(--uchu-red-3), transparent);
  }
  &:disabled {
      background-color: var(--uchu-gray-1);
      color: var(--uchu-gray-9);
  }
}

button,
label:has(input[type='checkbox'].button) {
  appearance: none;
  background-color: white;
  display: inline-block;

  box-shadow: 0 1px 3px rgba(128, 128, 128, 0.378);
  border: none;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 1px;

  text-align: center;
  text-decoration: none;
  padding-block-start: 2px;
  padding-block-end: 3px;
  padding-inline-start: 6px;
  line-height: normal;

  &:not([disabled]):hover {
    filter: brightness(95%);
  }

  &:has(input[type='checkbox'].button:checked) {
    background-color: lightblue;
  }
} */

table.config {
  width: 100%;
}
table.config tr > td:nth-child(1) {
  font-size: 80%;
  padding-right: 5px;
  /* font-weight: bold; */
  text-align: end;
  align-content: start;
}

.scrollable {
  overflow: auto;
}

.vlayout {
  display: flex;
  flex-direction: column;
  min-height: 0;
  min-width: 0;
}
.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hlayout {
  display: flex;
  flex-direction: row;
  min-height: 0;
  min-width: 0;
}
.hcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexgrow {
  flex: 1 0;
}

.flexshrink {
  flex: 0 1;
}

.fill {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}
